@model B76711_B72933_ESPIC.Models.MedicoModel;
@{
    ViewData["Title"] = "Aministración de expediente";
    Layout = "_Layout";

}
<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>ESPIC</h2>
                    <p>
                        Expediente de Salud Pública Internino Costarricense, puede consultar los datos de tus pacientes, citas médicas pendientes y anteriores, así como,
                        solicitar o cancelar sus citas, medicamentos prescritos, diagnósticos y
                        alergias, vacunas entre otros datos
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/documento-medico.png" width="49" height="49" />
                    </div>
                    <div class="feature-content">
                        <h5>Mejor Control</h5>
                        <p>
                            Con el expediente digital se busca mejorar la calidad de servicio y salud;
                            ya que en cualquier centro de la CCSS el equipo médico puede tener acceso a
                            su expediente, medicamentos, alergias y vacunas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/documento-medico.png" width="49" height="49" />
                    </div>
                    <div class="feature-content">
                        <h5>Mejora en la toma de decisiones</h5>
                        <p>
                            Al tener la información actualizada en línea y en tiempo real facilita el
                            monitoreo, permitiendo evaluar la productividad y así tomar mejores decisiones
                            en la salud del paciente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/documento-medico.png" width="49" height="49" />
                    </div>
                    <div class="feature-content">
                        <h5>Ayuda en el medio ambiente</h5>
                        <p>
                            Con el expediente digital ahorramos no solo tiempo, sino también dinero y
                            se reduce el uso de papel, lo cual beneficia al medio ambiente; ya que el
                            usuario tendrá acceso digital a las gestiones de citas y recetas médicas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />