@model B76711_B72933_ESPIC.Models.CitasModel

@{
    ViewData["Title"] = "Registrar";
    Layout = "_LayoutCitas";
}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 p-5">
            <h1>Registrar Citas</h1>
            <form asp-action="Registrar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <select asp-for="cedula" class="form-control" placeholder="Paciente">
                        @foreach (PacienteModel tem in ViewBag.Paciente)
                        {
                            <option value="@tem.cedula">@tem.nombre</option>

                        }
                    </select>
                </div>

                <div class="form-group">
                    <select asp-for="centro" class="form-control" placeholder="Centro de Salud">
                        <option value="Ebais la Suiza">Ebais la Suiza</option>
                        <option value="Ebais Central Turrialba">Ebais Central Turrialba</option>
                        <option value="Hospital William Allen Taylor Turrialba">Hospital William Allen Taylor Turrialba</option>
                        <option value="Hospital Max Peralta Cartago">Hospital Max Peralta Cartago</option>
                        <option value="Hospital San Juan de Dios">Hospital San Juan de Dios</option>

                    </select>
                </div>

                <div class="form-group">
                    <select asp-for="especialidad" class="form-control" placeholder="Especialidad">
                        <option value="Medicina General">Medicina General</option>
                        <option value="Cardiología">Cardiología</option>
                        <option value="Examenes de sangre">Examenes de sangre</option>
                        <option value="Neurología">Neurología</option>
                        <option value="Ortopedia">Ortopedia</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="date" class="form-control" asp-for="fecha" required />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="time" class="form-control input-md" asp-for="hora" />
                    <span asp-validation-for="hora" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar Cita" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
