@model B76711_B72933_ESPIC.Models.VacunasModel
@{
    ViewData["Title"] = "Lista";
    Layout = "_LayoutVacunas";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
}
<h1 class="text-center">Pacientes</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div id="filtar" class="col-sm-12" style="margin-top: 100px;">
        <form asp-action="listaVacunas" method="post">
            <div class="form-group">
                <select asp-for="cedula" class="form-control" placeholder="Paciente">
                    @foreach (PacienteModel tem in ViewBag.Paciente)
                    {
                        <option value="@tem.cedula">@tem.nombre</option>

                    }
                </select>
            </div>
            <div class="col-sm-5">
                <input class="btn btn-primary" type="submit" id="buscarMA" name="buscarMA" value="Buscar paciente" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />