@{
    ViewData["Title"] = "Aministración de expediente";
    Layout = "_LayoutAlergias";

}

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Alergias</h2>
                    <p>
                        Las alergias aparecen cuando el sistema inmunitario reacciona ante una sustancia
                        extraña (como el polen, el veneno de abejas o la caspa de las mascotas) o un
                        alimento que no provoca una reacción en la mayoría de las personas.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/consejo-de-alergia.png" width="49" height="49" />
                    </div>
                    <div class="feature-content">
                        <h5>Síntomas</h5>
                        <p>
                            Los síntomas de la alergia, que dependen de la sustancia involucrada, pueden
                            afectar las vías respiratorias, los senos y fosas nasales, la piel y el aparato
                            digestivo. Las reacciones alérgicas pueden ir de leves a graves.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/alergias.png" width="46" height="46" />
                    </div>
                    <div class="feature-content">
                        <h5>Fiebre del heno</h5>
                        <p>
                            También llamada "rinitis alérgica", puede provocar:
                        </p>
                        <p>
                            1). Estornudos.
                        </p>
                        <p>
                            2). Mocos, nariz congestionada.
                        </p>
                        <p>
                            3). Fiebre ligera.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/alergias.png" width="46" height="46" />
                    </div>
                    <div class="feature-content">
                        <h5>Alergia alimentaria</h5>
                        <p>
                            Puede causar:
                        </p>
                        <p>
                            1). Hormigueo en la boca.
                        </p>
                        <p>
                            2). Urticaria.
                        </p>
                        <p>
                            3). Anafilaxia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/alergias.png" width="46" height="46" />
                    </div>
                    <div class="feature-content">
                        <h5>Alergia por una picadura de insecto </h5>
                        <p>
                            Puede causar:
                        </p>
                        <p>
                            1). Una zona de una gran hinchazón (edema) en el lugar de la picadura.
                        </p>
                        <p>
                            2). Picazón o urticaria en todo el cuerpo.
                        </p>
                        <p>
                            3). Anafilaxia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/alergias.png" width="46" height="46" />
                    </div>
                    <div class="feature-content">
                        <h5>Alergia a un medicamento </h5>
                        <p>
                            Puede causar:
                        </p>
                        <p>
                            1). Urticaria.
                        </p>
                        <p>
                            2). Erupción cutánea.
                        </p>
                        <p>
                            3). Anafilaxia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <img src="~/img/alergias.png" width="46" height="46" />
                    </div>
                    <div class="feature-content">
                        <h5>Anafilaxia </h5>
                        <p>
                            La anafilaxia, una emergencia médica que pone en riesgo la vida, puede
                            hacer que entres en estado de choque. Algunos de los signos y síntomas de
                            la anafilaxia son los siguientes:
                        </p>
                        <p>
                            1). Pérdida del conocimiento.
                        </p>
                        <p>
                            2). Erupción cutánea.
                        </p>
                        <p>
                            3). Náuseas y vómitos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
