@model B76711_B72933_ESPIC.Models.AlergiaModel

@{
    ViewData["Title"] = "Registrar";
    Layout = "_LayoutAlergias";
}

<div class="container">
    <div class="row row justify-content-center align-items-center">
        <div class="col-md-8 p-5">
            <h1>Registrar Alergia</h1>
            <form asp-action="Registrar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <select asp-for="cedula" class="form-control" placeholder="Paciente">
                        @foreach (PacienteModel tem in ViewBag.Paciente)
                        {
                            <option value="@tem.cedula">@tem.nombre</option>

                        }
                    </select>
                </div>
                <div class="form-group">
                    <select asp-for="nombre" class="form-control" placeholder="Alergia">
                        <option value="Alergias alimentarias">Alergias alimentarias</option>
                        <option value="Alergia al los gatos">Alergia al los gatos</option>
                        <option value="Alergia a la anestesia">Alergia a la anestesia</option>
                        <option value="Alergia al polen">Alergia al polen</option>
                        <option value="Alergia a los ácaros">Alergia a los ácaros</option>

                    </select>
                </div>

                <div class="form-group">
                    <select asp-for="centro" class="form-control" placeholder="Centro de Salud">
                        <option value="Ebais la Suiza">Ebais la Suiza</option>
                        <option value="Ebais Central Turrialba">Ebais Central Turrialba</option>
                        <option value="Hospital William Allen Taylor Turrialba">Hospital William Allen Taylor Turrialba</option>
                        <option value="Hospital Max Peralta Cartago">Hospital Max Peralta Cartago</option>
                        <option value="Hospital San Juan de Dios">Hospital San Juan de Dios</option>

                    </select>
                </div>

                <div class="form-group">
                    <select asp-for="medicina" class="form-control">
                        <option value="Cetirizina">Cetirizina </option>
                        <option value="Olopatadina">Olopatadina</option>
                        <option value="Budesonida">Budesonida </option>
                        <option value="Epinefrina">Epinefrina </option>
                        <option value="Loratadina">Loratadina </option>

                    </select>
                </div>

                <div class="form-group">
                    <textarea class="form-control" asp-for="descripcion" placeholder="Descripción" rows="4" style="resize: none;" required></textarea>
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="date" class="form-control" asp-for="fecha" required />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar Alergia" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
